.exportPriceRow{
  display:flex;
  justify-content:flex-start;
  align-items:center;
  gap:12px;
  padding:5px 0;
  border-top:1px dashed #eee;
  font-size:12px;
}

.exportPriceRow:first-of-type{
  border-top:none;
}

.exportPriceRow > div:first-child{
  min-width:90px;
  flex:0 0 90px;
}

.exportPriceRow > div:last-child{
  text-align:left;
  flex:0 1 auto;
}
